@use '../../../variables.scss'as *;

.todo {
    padding-bottom: 5vh;
    transition: ease-in 0.2s;
    min-height: 100vh;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 100vw 35vh;

    .todo-content {
        padding-top: 8vh;
    }

    .todo-form__container {
        margin-top: 3vh;
    }

    .todo-sortby__container {
        margin-top: 5vh;
    }

    .information-text {
        margin-top: 5vh;
        color: $darkGrayishBlue;
        text-align: center;
        margin-bottom: 3vh;
    }
}


.todo-background__light {
    background-color: #F4F4F6;
    background-image: url('../../../Assets/Images/bg-mobile-light.jpg');
}

.todo-background__dark {
    background-color: #181824;
    background-image: url('../../../Assets/Images/bg-mobile-dark.jpg');
}

@media only screen and (min-width: 800px) {
    .todo {
        background-size: 100vw 35vh;
    }

    .todo-background__light {
        background-image: url('../../../Assets/Images/bg-desktop-light.jpg') !important;
    }

    .todo-background__dark {
        background-image: url('../../../Assets/Images/bg-desktop-dark.jpg') !important;
    }
}