@use '../../../variables.scss'as *;

.todo-form {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .checkbox-container {
        width: fit-content;
        position: relative;
        left: 5px;
        bottom: 2px;
    }


}