@use '../.././../variables.scss'as *;

.input {
    background-color: transparent;
    font-family: $fontFamily;
    width: 100% !important;
    height: 100%;
    border: none;
    font-size: 1em;
    transition: ease-in 0.2s;
}

.input-light {
    color: $inputColorLight;
}

.input-dark {
    color: $inputColorDark;
}


.input:focus {
    background-color: transparent;
    outline: none;
}