@use '../.././../variables.scss'as *;

.input {
    background-color: #FAFAFA;
    font-family: $fontFamily;
    width: 100% !important;
    height: 100%;
    border: none;
    font-size: 1em;
}


.input:focus {
    background-color: transparent;
    outline: none;
}