@use '../../../variables.scss'as *;

.card {
    border-radius: 8px;
    padding: 10px;
    transition: ease-in 0.2s;
}

.light {
    background-color: $lightCardTheme;
}

.dark {
    background-color: $darkCardTheme;
}