@use '../../../variables.scss'as *;

.todo-summary {
    border-radius: 0px;
    padding: 10px;
    transition: ease-in 0.2s;

    .todo-summary__content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-group {
        display: flex;
        gap: 5px;

        button {
            background-color: transparent;
            font-family: $fontFamily;
            border-radius: 8px;
            transition: ease-in 0.2s;
        }
    }

}

.button-light {
    color: $inputColorLight;
    border: 1.5px solid white;
}

.button-light:hover {
    border: 1.5px solid #494C6B;
}

.button-dark {
    color: $inputColorDark;
    border: 1.5px solid $darkCardTheme;
}

.button-dark:hover {
    border: 1.5px solid #464970;
    ;
}

.todo-summary__light {
    background-color: white;
    color: $darkGrayishBlue;
}

.todo-summary__dark {
    background-color: $darkCardTheme;
    color: $inputColorDark;
}

.active {
    color: $brightBlue !important;
}