@use './variables.scss'as *;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
}

html,
body {
    overflow-x: hidden;
}

a {
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
}

button {
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
}

input {
    min-width: 44px;
    min-height: 44px;
    cursor: pointer;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #FAFAFA inset !important;
}