$brightBlue : hsl(220, 98%, 61%);
$brightBlueHover: hsl(220, 64%, 50%);
$checkBackground : linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
$fontFamily: 'Josefin Sans',
sans-serif;
//Light theme
$veryLightGray : hsl(0, 0%, 98%);
$veryLightGrayishBlue : hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

//Dark Theme
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkerGrayishBlue: hsl(237, 14%, 26%);